body,html{
	margin: 0px;
	padding-right:0px;
	width: 100%;
	height: 100%;
    overflow-x: hidden;
}

/*fonts*/
@font-face {
  font-family: 'Amble-Bold';
  src: url('fonts/Amble-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Amble-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Amble-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Amble-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Amble-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Amble-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Amble-Light';
  src: url('fonts/Amble-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/Amble-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Amble-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Amble-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Amble-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Amble-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'BigJohn';
  src: url('fonts/BigJohn.eot'); /* IE9 Compat Modes */
  src: url('fonts/BigJohn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/BigJohn.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/BigJohn.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/BigJohn.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/BigJohn.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.myfont{
    font-family: 'Amble-Bold';
}
.big-john-font-1{
    font-family: 'BigJohn';
}
.amble-light-family{
    font-family: 'Amble-Light';
}


/*fonts*/

/*first section*/
.first-section {

    background-image: url("../img/first-background.jpg");
    margin: 0px;
    padding-right: 0px;
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
}
i.fas.fa-bars {
    color: #fff;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
}
img.logo-section-1 {
    margin-top: 120px;
}
hr.hr-line.text-center {
    background: #fff;
    width: 86px;
    height: 2px;
    margin-top: 40px;
}
p.paragraph-section-1 {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
}
img.mouse-scroll-settings {
    margin-top: 27px;
}
/*End first sectionn*/


/*second section*/
.second-section {
    background-image: url("../img/second-background.png");
    height: 500px;
    width: 100%;
   /* background-repeat: no-repeat;*/
    background-size: cover;
}
h1.intro.text-center {
    font-weight: bold;
    margin-top: 150px;
}
hr.hr-line2.text-center {
    width: 86px;
    height: 2px;
    background: #222222;
    margin-top: 70px;
}
p.introduction-paragraph.text-center {
    font-size: 27px;
    margin-top: 60px;
}

/*second section*/



/*3rd-section*/

.third-section{

background-image: url("../img/3rd-background.jpg");
width: 100%;
height: 500px;
background-size: cover;
background-repeat: none

}
button.creativity-btn {
    width: 433px;
    height: 100px;
    background: transparent;
    border-color: #fff;
    margin-top: 200px;
    border-style: solid;
    color: #fff;
    font-size: 25px;
    outline: none;
}


/*3rd-section*/

/*4th-section*/

h4.section-4-text.text-center {
    font-size: 30px;
    font-weight: bold;
    margin-top: 110px;
}
hr.hr-line4.text-center {
    width: 86px;
    background: #222222;
    height: 2px;
    margin-top: 80px;
}
ul.navbar-nav {
    display: contents;
}
a.nav-link {
    color: #767676;
    font-weight: bold;
}
li.nav-item {
    margin: auto auto;
}
a.nav-link:hover {
    color: #222222;
}
span.position-absolute.text-center {
    top: 45%;
    right: 38%;
    color: #fff;
    font-weight: bold;
}

button.Show-More {
    width: 370px;
    height: 58px;
    background: transparent;
    border: 3px solid #222222;
    font-weight: bold;
    font-size: 22px;
    outline: none;
}


/*4th-section*/

/*section 5*/

.section-5{

background-image: url("../img/fourth-background.jpg");
width:100%;
height: 500px;
background-size: cover;
background-repeat: no-repeat;
}

button.second-btn {
    width: 426px;
    height: 98px;
    background: transparent;
    border: 4px solid #fff;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    margin-top: 200px;
    outline: none;
}


/*section 5*/


/*section 6*/


.section-6{
background-image: url("../img/grey-background.jpg");
width:100%;
height: 480px;
background-size: cover;
background-repeat: no-repeat;

}

h1.section-6-heading.text-center {
    font-weight: bold;
    font-size: 30px;
    padding-top: 80px;
}
hr.hr-line.mt-5 {
    background: #222222;
    width: 86px;
    height: 2px;
}

img.brands {
    margin-left: 300px;
}
/*section 6*/


/*section 7*/
p.about-us-p.text-center.mt-5 {
    color: #222222;
    font-size: 30px;
}
img.about-imgs.different-styles {
    border: 2px solid #000;
}
hr.hr-line6 {
    background: #222222;
    width: 86px;
    height: 2px;
}
.text-inside.position-absolute {
    position: absolute!important;
    top: 115px;
    right: 75px;
}
span.hiring-span {
    font-weight: bold;
}
button.apply-btn {
    position: absolute;
    top: 65%;
    right: 15%;
    width: 180px;
    height: 57px;
    background: transparent;
    border: 2px solid #000;
    font-weight: bold;
    outline: none;
}



/*section 7*/

/*section 8*/

.video-section{
background-image: url("../img/video-background.jpg");
width:100%;
height: 500px;
background-size: cover;
background-repeat: no-repeat;

}








/*section 8*/

/*section 9*/
h1.carousel-heading.text-center {
    font-size: 30px;
    margin-top: 100px;
    font-weight: bold;
}
hr.courousel-line {
    background: #222222;
    width: 86px;
    height: 2px;
    margin-top: 50px;
}
p.carousel-text.text-center {
    color: #222222;
    font-size: 30px;
    margin-top: 50px;
}
p.estimonial-p {
    color: #222222;
}




/*section 9*/



/*section 10*/
.section-10{
background-image: url("../img/bluemac-background.jpg");
width:100%;
height: 500px;
background-size: cover;
background-repeat: no-repeat;

}
button.quote-button {
    width: 423px;
    height: 96px;
    background: transparent;
    border: 3px solid #fff;
    margin-top: 250px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    outline: none;
}





/*section 10*/

/*section 11*/
h1.touch-heading {
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
}
hr.hr-touch-area {
    background: #222222;
    width: 86px;
    height: 2px;
    margin-top: 60px;
}
p.text-get-touch {
    color: #222222;
    font-size: 30px;
    margin-top: 60px;
}





/*section 11*/

/*footer*/
.col-md-4.col-footer{

    background-image:url("../img/first-footer-area.jpg");
    width: 615px;
    height: 500px;

}
.col-md-8.col-footer-2{
    background-image:url("../img/second-footer-area.jpg");
    width: 985px;
    height: 500px;

}
h1.footer1-area {
    font-size: 30px;
    font-weight: bold;
    margin-top: 110px;
}

p.location {
    font-size: 22px;
}
.size-styling{

    color: #222222;
    font-size: 30px;
    padding: 10px;
}
.container.form-container {
    margin-top: 100px;
}
input.input-footer {
    width: 300px;
    height: 50px;
    padding: 10px;
    background: transparent;
    border-bottom: 2px solid #afafaf;
    border-top: none;
    border-right: none;
    border-left: none;
    font-style: italic;
    outline: none;
}
input.input-footer.pull-right {
    margin-left: 60px;
}
input.message-area.mt-5 {
    width: 670px;
    height: 50px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #afafaf;
    font-style: italic;
    outline: none;
}
button.send {
    width: 177px;
    height: 52px;
    margin-top: 26px;
    margin-left: 495px;
    background: transparent;
    border: 3px solid #222222;
    font-size: 22px;
    font-weight: bold;
    outline: none;
}
.size-styling:hover {
    color: #339bbe;
}




/*footer*/


/*copyright section*/
.copyright-section{
background-image: url("../img/copyright.jpg");
width:100%;
height: 361px;
}
.container.container-cpryt.text-center {
    padding-top: 130px;
}
p.copyright-paragraph {
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
}
span.drft-clr {
    color: #2283b9;
    font-weight: bold;
}



/*copyright section*/
/*nav section*/

a.navbar-brand {
    color: #339bbe;
    font-size: 30px;
    font-weight: bold;
    margin-left: 13px;
}
nav.navbar.navbar-expand-lg {
    background: #f4f4f4;
}
li.nav-item.first-nav {
    padding-left: 50px;
}
a.nav-link.nav-settings {
    color: #339bbe;
    font-weight: 100;
}
.input-fa-icon.position-absolute {
    position: absolute!important;
    right: 160px;
}
i.fas.fa-search.search-area {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #339bbe;
    font-size: 20px;
}
button.btn.my-2.my-sm-0 {
    background: #339bbe;
    color: #fff;
    font-weight: bold;
}
.row.nav-row {
    margin-left: 250px;
}
i.fas.fa-bars.drop-navigation {
    color: #339bbe;
    font-size: 30px;
    margin-bottom: 10px;
}
a.nav-link.nav-settings.cursor {
    cursor: help;
}
/*nav section*/

/*back top top */
button.back-to-top.float-right {
    width: 58px;
    padding: 16px;
    border-radius: 50%;
    border: none;
    background: aqua;
    margin-right: 30px;
    outline: none;
    position: fixed;
    right: 2%;
    top: 88%;

}
/*back top top */
form.form-inline.mr-5 {
    display: contents;
}
